<section id="footer">
	<footer class="page-footer font-small bg-secondary text-white">
		<!-- <div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Категорії</p>
					<li class="list-unstyled">
						<ul><a href="#rucks" class="text-white">Рюкзаки</a></ul>
						<ul><a href="#bags" class="text-white">Сумки</a></ul>
						<ul><a href="#clatches" class="text-white">Клатчі</a></ul>
						<ul><a href="#bananas" class="text-white">Бананки</a></ul>
					</li>
				</div>
				<div class="col-md-6 mb-4">
					<p>Дякуємо, що завітали!</p>
				</div>
			</div>
		</div> -->
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3 bg-dark">© 2021 Copyright:
			<a href="https://barsetka.shop/">barsetka.shop</a>
		</div>
	</footer>
</section>
