<section class="bg-dark py-5 px-sm-0 px-md-5" id="about-us">
	<div class="container text-white text-justify px-5">
		<div class="row">
			<div class="col-sm-12 col-md-6 my-auto">
				<h1 class="text-center">Про нас:</h1>
				<p>
					Здраствуйте, Вас вітає інтернет магазин Barsetka.
					Ми спеціалізуємся на якості, зручності, повазі до клієнта. Надаємо широкий
					спектр краси, елегантності. Все тому, що продаємо зручні, надійні рюкзаки,
					сумки, бананки, гаманці, клатчі. Кожен раз коли Ви натискаєте “Купити” ми
					розуміємо, що робимо людей щасливішими.
				</p>
			</div>
			<div class="col-sm-12 col-md-6">
				<img class="img-fluid rounded" src="../../assets/images/about-us/4.jpg">
				<!-- <div class="text-stub-md">Photo</div> -->
			</div>
		</div>
		<div class="row">
			<div class="d-none d-md-inline col-sm-12 col-md-6">
				<img class="img-fluid rounded" src="../../assets/images/about-us/5.jpg">
				<!-- <div class="text-stub-md">Photo</div> -->
			</div>
			<div class="col-sm-12 col-md-6 my-auto">
				<h1 class="text-center">Наша ціль:</h1>
				<p>
					Бути корисними – наша головна ціль. Ми віримо, що сумки існують для
					полегшення життя, а ми для того щоб їх знайти. Ми допомагаємо знайти саме
					те, що Вам потрібно з мінімальною тратою дорогоцінного часу. Ми назавжди
					позбавимо наших покупців від неприємних компромісів та зробимо їх
					щасливішими вже зараз.
					Ми створені щоб здійснювати Ваші мрії легко!
				</p>
			</div>
			<div class="d-inline d-md-none col-sm-12 col-md-6">
				<img class="img-fluid rounded" src="../../assets/images/about-us/5.jpg">
				<!-- <div class="text-stub-md">Photo</div> -->
			</div>
		</div>
	</div>
</section>
