<section class="pt-3 bg-dark" id="contacts">
	<div class="container">
		<h1 class="text-white">Контакти:</h1>
		<div class="row">
			<div class="col-sm-6">
				<ul class="list-unstyled text-warning">
					<li>
						<span class="fa fa-envelope mr-2"></span> 
						<a href="mailto:barsetkashopua@gmail.com">Написати листа</a>
					</li>
					<li>
						<span class="fab fa-facebook mr-2"></span>
						<a href="https://www.facebook.com/barsetka.shop.ua">facebook.com/barsetka.shop.ua</a>
					</li>
					<li>
						<span class="fab fa-instagram mr-2"></span> 
						<a href="https://www.instagram.com/barsetkashopua">@barsetkashopua</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
