<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand py-0 my-0" routerLink="/main">
		<img class="logo rounded" src="../../assets/images/navbar/logo.jpg">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-2 ml-lg-0">
			<li class="nav-item">
				<a class="nav-link" routerLink="/main">Головна</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/about-us">Про нас</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/categories">Категорії</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/contacts">Контакти</a>
			</li>
		</ul>
		<div class="text-white ml-auto">
			<span class="fab fa-instagram mr-2"></span>
			<a href="{{instagramLink}}">@barsetkashopua</a>
			<span class="fab fa-facebook mr-2 ml-3"></span>
			<a href="https://www.facebook.com/barsetka.shop.ua">facebook.com/barsetka.shop.ua</a>
		</div>
	</div>
</nav>
