<section class="bg-secondary" id="product-detail">

	<div class="container">
		<div class="row">

			<!-- product photos info -->
			<div class="col-sm-12 col-md-5 mt-5">
				<div class="row">
					<div class="col-sm-12">
						<img class="img img-fluid rounded" src="{{selectedPhotoUrl}}" alt="The photo of {{product.name}}">
						<!-- <img src="../../assets/images/products/stub.jpg" class="img-fluid rounded"> -->
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<ul class="list-unstyled list-inline mt-lg-3">
							<li class="list-inline-item" *ngFor="let photoUrl of product.photoUrls" (click)="selectPhotoUrl(photoUrl)">
								<button class="btn btn-link">
									<img class="small-image rounded" src="{{photoUrl}}">
								</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- product description info -->
			<div class="col-sm-12 col-md-7 mt-md-5">
				<div class="row">
					<div class="col-sm-12">
						<h3>{{product.name}}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 pb-sm-2">
						<span class="text-xs">Артикул: {{product.id}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<h4><span class="text-info">{{product.price}} грн.</span></h4>
					</div>
					<div class="col-sm-12 col-md-6 text-sm-center">
						<a routerLink="/delivery-form">
							<button class="btn btn-info btn-md" (click)="addToCart(product)">
								<span class="fas fa-shopping-cart"></span> Купити
							</button>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<h4 class="pt-sm-2">Опис:</h4>
						<p *ngIf="product.description">{{product.description}}</p>
						<p *ngIf="!product.description" class="text-xs">Немає опису...</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
