<div class="form-group">
  <label for="exampleInputEmail1">Назва:</label>
  <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="cat.name" (change)="onChange()">
  <small id="emailHelp" class="form-text text-muted">Обов'язкове поле.</small>
</div>

<div class="form-group">
  <label for="description">Опис:</label>
  <input type="text" class="form-control" id="description" [(ngModel)]="cat.description" (change)="onChange()">
</div>

<button type="submit" class="btn btn-primary" (click)="submit()">Зберегти</button>

<div *ngIf="submitted">
  <div class="alert alert-success" role="alert" *ngIf="last">
    <span class="fa fa-check-circle"></span> Категорія додана №<span class="text-bold">{{last.id}}</span>. 
    <p><a href="/categories">Завершити.</a></p>
  </div>
  <div class="alert alert-danger" *ngIf="err">
  	<span class="fa fa-times-circle"></span>Помилка. 
  </div>
</div>
