<section class="py-3 px-2 px-lg-5" id="categories">
	<div class="container-fluid text-center">
		<div class="text-white" *ngIf="!categories">Sorry currently no categories available...</div>
		<div class="row d-flex justify-content-center">

			<div class="col-sm-4 col-lg-3 mb-3" *ngFor="let cat of categories">
				<div class="card">
					<div class="card-body">
						<a routerLink="/categories/{{cat.id}}/products"><h5 class="card-title">{{cat.name}}</h5></a>
						<p class="card-text">{{cat.description}}</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
