<section class="py-3 px-2 px-lg-5" id="categories">
	<div class="container-fluid text-center">
		<div class="row d-flex justify-content-center">
			<div class="col-sm-4 col-lg-2 mb-3">
				<div class="card">
					<div class="card-body">
						<a href="#rucks"><h5 class="card-title">Рюкзаки</h5></a>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-lg-2 mb-3">
				<div class="card">
					<div class="card-body">
						<a href="#bags"><h5 class="card-title">Сумки</h5></a>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-lg-2 mb-3">
				<div class="card">
					<div class="card-body">
						<a href="#bananas"><h5 class="card-title">Бананки</h5></a>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-lg-2 mb-3 d-none">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Гаманці</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-lg-2">
				<div class="card">
					<div class="card-body">
						<a href="#clatches"><h5 class="card-title">Клатчі</h5></a>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
