<section class="bg-secondary text-dark pb-3 pt-3" id="products">
	<div class="container">

		<p class="category-name">{{category.name}}</p>
		<div class="row">
			
			<div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let pr of products">
				<div class="card card-product">
<!-- 					https://bigopt.com/image-cache/?w=300&h=280&a=3&align=cb&f=static-files%2Fimg%2Fgoods%2F09%2F0d%2Fbm0140002a031-001-600x600-1546611681-729.jpg -->
					<!-- TODO: replace it with real images url; -->
					<img class="card-img-top" *ngIf="pr.photoUrls" src="{{pr.photoUrls[0]}}" alt="Card image cap">
					<!-- <img class="img-fluid" src="../../assets/images/products/stub.jpg"> -->
					<div class="card-body pt-1">
						<h5 class="card-title mb-1">{{pr.name}}</h5>
						<p class="card-text mb-0">{{pr.description}}</p>
						<ul class="list-unstyled">
							<li class="list-inline-item mt-0">
								<div class="text-info price">{{pr.price | currency}}</div>
							</li>
							<li class="list-inline-item mt-0">
								<a routerLink="/productDetails/{{pr.id}}">
									<button class="btn btn-secondary px-5">Купити</button>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div *ngIf="products.length==0" class="col-12">
				<p class="text-white text-xss">Немає продуктів в даній категорії...</p>
			</div>

		</div>
	</div>
</section>
