<section class="bg-secondary">

  <div class="container">
    <h2 class="text-center text-dark pt-3">Товари</h2>
    <div class="row">
      <div class="col-sm-4 col-md-2">
        <a routerLink="/administration/products/new"><button class="btn btn-success mb-3">➕ Додати</button></a>
      </div>
      <div class="col-sm-8 col-md-4 mr-auto">
        <select class="custom-select d-block w-100" [ngModel]="selectedCategory" (ngModelChange)="onChangeCat($event)" id="category">
          <option value="">виберіть...</option>
          <option [ngValue]="cat" *ngFor="let cat of categories">{{cat.name}}</option>
        </select>
      </div>
      <div *ngIf="deleted" class="col-sm-8 col-md-6">
        <div class="alert alert-success" role="alert">
          <span class="fa fa-check-circle"></span> Товар видалено №<span class="text-bold">{{deletedId}}</span>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let pr of products">
				<div class="card card-product">
					<img class="card-img-top" *ngIf="pr.photoUrls" src="{{pr.photoUrls[0]}}" alt="Card image cap">
					<div class="card-body pt-1">
						<h5 class="card-title mb-1">{{pr.name}}</h5>
						<p class="card-text mb-0">{{pr.description.substring(0, 50)}}</p>
            <p class="card-text mb-0">Ціна: {{pr.price}} грн.</p>
            <ul class="list-unstyled">
              <li>
                <a routerLink="/administration/products/{{pr.id}}">
                  <button class="btn btn-info my-1">✍️ Редагувати</button>
                </a>
              </li>
              <li><button class="btn btn-info my-1" (click)="delete(pr)">❌ Видалити</button></li>
            </ul>

					</div>
				</div>
			</div>

    </div>

    <div class="row" *ngIf="err">
      <div class="col-sm-12">
        <div class="alert alert-danger">
          <img src="../../assets/error.png" alt="error" class="img img-fluid rounded">
          <span class="fa fa-times-circle"></span>Помилка.
        </div>
      </div>
    </div>

  </div>

</section>
